/* index.js */

#navbar{
  z-index: 1;
  position: fixed;
  background-color: rgb(33, 32, 32); 
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 75px;
  padding-left: 2rem;
  color: white;
}


#BSDLogoText:hover {
  cursor: pointer;
}

#navigation{
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: -50px;
  color: #D40000;
  font-size: 1.4rem;
  align-items: flex-end;
}

.navbarText{
  padding-left: 40px;
  font-size: 1.4rem;
}

.navbarText:hover{
  color:white;
  font-style: italic;
  cursor: pointer;
}

#main {
  background-color: rgb(33, 32, 32);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 4rem;
  padding-top: 8rem;
}

#BSDLogoFlag{
  background-image: url("../public/LogoStuff/OhioBSDforSite.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

#titleContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

#title{
  padding: 2rem 0rem;
  font-size: 2.5rem;
  color: white;
  width: 80%;
  text-align: center;
}

.descriptionContainer{
  border-top: 0.5px solid rgb(82, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 400px;
  padding: 2rem 0rem;
}

.textDescription{
  text-align: center;
  font-size: 1.5rem;
  width: 300px;
}

@font-face {
  font-family: 'umbraregular';
  src: url('./unicode.umbra-webfont.woff2') format('woff2'),
       url('./unicode.umbra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.footer {
  border-top: 1px solid white;
  padding: 2rem;
  width: 100%;
  color: white;
  margin-top: 3rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 560px) {

  #main {
    padding: 4rem 4rem;
  }

  #BSDLogoText {
    margin-left: 10px;
  }

  .descriptionContainer{
    display: flex;
    flex-direction: column-reverse;
  }

  .textDescription {
    text-align: center;
    width: 80%;
    padding: 0;
    font-size: 1.2rem;
  }
}

/* whyBSD.js | buyBSD.js | contactUs.js */

.container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.scrollContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 88vh;
}

#pageTitle {
  padding-top: 150px;
  width: 100%;
  color: #D40000;
  text-align: center;
  font-size: 7rem;
}

#pageParagraph {
  max-width: 400px;
  text-align: center;
  font-size: 1.5rem;
}

/* contactUs.js */

.formContainer {
  color: black;
  box-shadow: 5px 10px 10px #504d4d;
  border: solid black;
  background: #7e0a0a; 
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 460px;
}

.inputs{
  width: 200px;
}

.inputForm {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.formContainer button {
  margin-top: 10px;
  width: 100px;
  height: 35px;
}

.formSubtitles {
  color: white; 
  font-size: 1.2rem;
}

#message {
  width: 100%;
  height: 150px;
}

#message>textarea {
  width: 100%;
  height: 100%;
}
